<div class="container">
  <main class="main about">
    <h1>About</h1>
    <p>
      This blog aims to foster an environment where creativity and ideas can thrive! 
      It's a safe place to express one's authentic self.
      <br>Starshine is a made-up online persona created by a graduating student. 
      They are a cheerful yellow star with a cartoonish design. 
      They are created to convey personal experiences and also serve as an outlet for random thoughts!
    </p>
    <img src="https://i.postimg.cc/vHrjdQ5k/divider2.gif" alt="floating-starshine">
  </main>
</div>