<div class="socials-container">
  <main class="main socials">
    <h1>Socials</h1>
    <p>Let's connect on other platforms :D</p>
    <div class="social-icons">
      <a href="https://www.instagram.com/?hl=en" target="_blank">
        <img src="https://i.postimg.cc/ZBw55GX7/ig-icon.png" alt="Instagram">
      </a>
      <a href="https://open.spotify.com/playlist/4Dl5rshKqbi5poMSZ16Chm?si=aae93b3364dc4e28" target="_blank">
        <img src="https://i.postimg.cc/sB92tQmR/spotify-icon.png" alt="Spotify">
      </a>
      <a href="https://www.tumblr.com/" target="_blank">
        <img src="https://i.postimg.cc/hzDGgDZQ/tumblr-icon.png" alt="Tumblr">
      </a>
    </div>
  </main>
</div>
